{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ movie.title }}
{% endblock %}
{% block metadata %}
  <meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}
{% block content %}
  <section class="max-w-7xl mx-auto px-4">
    <div class="aspect-w-16 aspect-h-9 w-full aspect-video mb-6">
      <div id="player"></div>
    </div>
    <div id="loading" class="text-center">Loading...</div>
    <div id="content" class="hidden flex-col lg:flex-row gap-8">
      <div class="flex-1">
        <h1 class="text-3xl font-bold mb-2">{{ movie.title }}</h1>

        <div class="flex items-center gap-4 text-gray-400 text-sm mb-4">
          <span class="flex items-center gap-1"><i class="fa fa-clock"></i> {{ movie.duration_formatted }}</span>
          <span class="flex items-center gap-1"><i class="fa fa-language"></i> {{ movie.language }}</span>
          <span class="flex items-center gap-1"><i class="fa fa-eye"></i> {{ movie.total_views }}</span>
          <span class="flex items-center gap-1 cursor-pointer
              {% if like %}
                text-blue-700
              {% endif %}" onclick="likeBtn(this, {{ movie.id }}, '{% url 'like' %}')">
            <i class="fa-solid fa-thumbs-up"></i>
            <span>{{ movie.total_likes }}</span>
          </span>
        </div>
        {% comment %}Button: Add to List{% endcomment %}
        <div class="flex items-center gap-4 mb-6">
          <button id="my-list" onclick="addToMyList(this, {{ movie.id }}, '{% url 'toggle_my_list' %}')" class="flex items-center gap-2 bg-gray-800 hover:bg-gray-700 px-4 py-2 rounded-full text-sm transition cursor-pointer">
            <span>
              {% if my_list %}
                ✔️
              {% else %}
                ➕
              {% endif %}
            </span>My List
          </button>
        </div>

        {% comment %}Genres{% endcomment %}
        <div class="flex flex-wrap gap-2 mb-4">
          {% for genre in movie.genres.all %}
            <span class="bg-gray-700 text-white px-3 py-1 rounded-full text-sm">{{ genre.name }}</span>
          {% endfor %}
        </div>

        <p class="text-gray-300 mb-6">{{ movie.description }}</p>
      </div>
    </div>
  </section>
  <section class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between space-x-4">
      <h2 class="text-2xl font-bold mb-4">Similar Movies</h2>
    </div>
    <div class="flex flex-wrap gap-4">
      {% for movie in similar_movies %}
        {% include 'components/movie_card.html' %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block js %}
  <script src="{% static 'js/watch.js' %}"></script>
  <script>
    let tag = document.createElement('script')
    
    tag.src = 'https://www.youtube.com/iframe_api'
    let firstScriptTag = document.getElementsByTagName('script')[4]
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
    
    let player
    
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '100%',
        width: '100%',
        videoId: '{{ movie.youtube_id }}',
        playerVars: {
          playsinline: 1
        },
        events: {
          onReady: onPlayerReady,
          onStateChange: onPlayerStateChange
        }
      })
    }
    
    function onPlayerReady(event) {
      loading.classList.add('hidden')
      content.classList.remove('hidden')
      content.classList.add('flex')
      event.target.playVideo()
    }
    let done = false
    let counter
    function onPlayerStateChange(event) {
      if (!done) {
        if (event.data == YT.PlayerState.PLAYING) {
          counter = setInterval(async () => {
            if (await updateHistory({{ movie.id }})) {
              done = true
            }
          }, 10000)
        } else {
          if (counter) clearInterval(counter)
        }
      }
    }
  </script>
{% endblock %}
