{% comment %}Navbar{% endcomment %}
<nav class="sticky top-0 left-0 z-30 bg-black/70 backdrop-blur-md">
  <div class="max-w-7xl mx-auto w-full flex items-center justify-between p-4">
    {% comment %}Left: Logo{% endcomment %}
    <div>
      <a href="{% url 'home' %}" class="text-2xl font-bold text-white">MRS</a>
    </div>
    {% comment %}Center: Desktop Menu{% endcomment %}
    <ul class="hidden md:flex gap-8 text-sm text-white font-medium">
      <li>
        <a href="{% url 'home' %}" class="hover:text-primary transition">Home</a>
      </li>
      <li>
        <a href="{% url 'movies' %}" class="hover:text-primary transition">Movies</a>
      </li>
      <li>
        <a href="{% url 'movie_genre_list' %}" class="hover:text-primary transition">Genres</a>
      </li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'my_list' %}" class="hover:text-primary transition">My List</a>
        </li>
      {% endif %}
    </ul>
    {% comment %}Right: Search + Profile + Hamburger icon{% endcomment %}
    <div class="flex items-center gap-4">
      {% comment %}Search{% endcomment %}
      <form method="get" action="{% url 'movies' %}" class="relative hidden md:block">
        <label for="search">
          <input type="text" id="search" name="search" placeholder="Search" class="bg-gray-800 text-white text-sm rounded-full px-4 py-1 pl-10 focus:outline-none focus:ring-2 focus:ring-primary" required />
          <div class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
        </label>
      </form>
      {% comment %}Profile Circle{% endcomment %}
      {% if user.is_authenticated %}
        <div class="relative">
          <button id="profileBtn" class="h-8 w-8 rounded-full hover:ring-2 ring-primary transition bg-primary flex justify-center items-center text-xl font-bold font-serif">{{ request.user.first_name|default:request.user.username|first|upper }}</button>
          <div id="profileDropdown" class="hidden absolute right-0 mt-2 w-40 bg-black border border-gray-800 rounded-lg shadow-lg z-40" x-transition>
            <a href="{% url 'profile' %}" class="block px-4 py-2 hover:bg-gray-800 rounded-lg">Profile</a>
            <a href="{% url 'change_password' %}" class="block px-4 py-2 hover:bg-gray-800 rounded-lg">Change Password</a>
            <a href="{% url 'watch_history' %}" class="block px-4 py-2 hover:bg-gray-800 rounded-lg">Watch History</a>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="block px-4 py-2 hover:bg-gray-800 rounded-lg cursor-pointer w-full text-start">Logout</button>
            </form>
          </div>
        </div>
      {% else %}
        <div>
          <a href="{% url 'login' %}" class="bg-primary border border-primary hover:bg-red-700 transition px-4 py-2 rounded-lg">Login</a>
          <a href="{% url 'register' %}" class="px-4 py-2 rounded-lg border border-primary text-primary hover:bg-primary hover:text-white transition">Register</a>
        </div>
      {% endif %}
      {% comment %}Hamburger Button (Only Mobile){% endcomment %}
      <button id="menu-btn" class="md:hidden text-white focus:outline-none cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</nav>
{% comment %}Overlay{% endcomment %}
<div id="overlay" class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm z-20"></div>
{% comment %}Mobile Menu{% endcomment %}
<div id="mobile-menu" class="hidden fixed top-16 left-0 w-full bg-black text-white py-6 flex-col gap-6 items-center text-lg z-30">
  {% comment %}Mobile Search{% endcomment %}
  <form method="get" action="{% url 'movies' %}" class="relative w-4/5">
    <label for="mobile-search">
      <input type="text" id="mobile-search" name="search" placeholder="Search" class="bg-secondary text-white text-sm rounded-full px-4 py-2 pl-10 w-full focus:outline-none focus:ring-2 focus:ring-primary" />
      <div class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </div>
    </label>
  </form>
  {% comment %}Mobile Links{% endcomment %}
  <a href="{% url 'home' %}" class="hover:text-red-500">Home</a>
  <a href="{% url 'movies' %}" class="hover:text-red-500">Movies</a>
  <a href="{% url 'movie_genre_list' %}" class="hover:text-red-500">Genres</a>
  {% if user.is_authenticated %}
    <a href="{% url 'my_list' %}" class="hover:text-red-500">My List</a>
  {% endif %}
</div>
