<a href="{% url 'watch' movie.id %}" class="group relative overflow-hidden rounded hover:ring-2 ring-gray-800 transition-transform duration-300 w-40 min-w-40">
  <img src="{{ movie.poster.url }}" loading="lazy" alt="{{ movie.title }}" class="aspect-[2/3] w-full object-cover object-center transition-transform duration-300 group-hover:scale-105" />
  <div class="absolute inset-0 bg-black/15 to-transparent p-4 flex flex-col justify-end group-hover:bg-black/30 transition-colors duration-300">
    <h3 class="text-lg font-semibold text-white line-clamp-2 mb-1" title="{{ movie.title }}">{{ movie.title }}</h3>
  </div>
</a>
